body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #CBCBCB;


    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    background-image: url(img/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    width: 100%;
}

.text {
    text-align: center;
    margin-top: 8%;
    margin-bottom: 33%;
}

h1 {
    font-weight: bold;
    font-size: 64px;
    color: #FFFFFF;
}

.text p {
    margin-top: 5%;
    font-weight: normal;
    font-size: 24px;
    color: #FFFFFF;
}

.bg {
    margin-top: -20%;
    margin-left: 10px;
    margin-right: 10px;
    height: 430px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.14), 0px 8px 10px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    display: flex;
    justify-content: space-evenly;
}

.form-search {
    margin-top: 5%;
    width: 273px;
}

.error-input {
    margin-left: 10px;

    font-weight: normal;
    font-size: 10px;
 
    color: #F44336;
}

input[type="search"] {
    width: 263px; /* Ширина поля */
    box-sizing: border-box; /* Ширина не учитывает padding */

    margin-top: 9px;
    margin-left: 10px;
    margin-bottom: 9px;
    padding-bottom: 4px; /* Поля вокруг текста */

    font-weight: 300;
    font-size: 14px;
    
    color: #555555;

    outline:none;
    border: none; /* Убираем рамку */
    border-bottom: 1px solid #999999; /* Линия снизу */
    background: transparent; /* Прозрачный фон */
   }

input[type="search"]::-webkit-search-cancel-button {
    position:relative;

    -webkit-appearance: none;
    height: 24px;
    width: 24px;
    background: url(img/ICON.png); 
}

input[type="submit"] {
    width: 140px;
    height: 41px;
    margin-top: 16px;

    font-weight: 300;
    font-size: 12px;

    color: #FFFFFF;

    background: #9C27B0;
    box-shadow: 0px 2px 2px rgba(156, 39, 176, 0.2);
    border: none;
    border-radius: 30px;
}

.form-city {
    margin-top: 6%;
    width: 431px;
    background-color: aquamarine;
}

@media (max-width: 800px) {
    .bg {
        flex-direction: column;
        justify-content: flex-start;
    }

    .form-search,
    .form-city {
      width: auto;
    }
  }

.footer p {
    margin: 8% auto;
    text-align: center;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
}